<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>

<body>

    <div class="login-container">
        <h2>Registro</h2>

        <input type="text" id="regName" placeholder="nombre">
        <input type="text" id="regEmail" placeholder="email">
        <input type="password" id="regPassword" placeholder="Contraseña">

        <button id="registerBtn">Crear cuenta</button>
        <button id="backLoginBtn">Volver al login</button>

        <p id="message"></p>
    </div>

    <script src="../js/register.js"></script>
</body>

</html>
