
body {
    font-family: Arial, sans-serif;
    background: #1e1e2f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
    text-align: center;
}

input {
    width: 90%;
    padding: 8px;
    margin: 8px 0;
}

button {
    width: 95%;
    padding: 10px;
    cursor: pointer;
}

#message {
    margin-top: 10px;
    font-weight: bold;
}